[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.3"
djangorestframework = "==3.14.0"
django-cors-headers = "==3.13.0"
django-environ = "*"
dj-database-url = "==2.0.0"
psycopg2-binary = "==2.9.6"
gunicorn = "==20.1.0"
whitenoise = "==6.5.0"
uuid = "==1.30"
django-filter = "==23.5"
cloudinary = "==1.38.0"
pillow = "==10.2.0"
requests = "==2.31.0"
nh3 = "==0.2.15"
beautifulsoup4 = "==4.12.3"
mailerlite = "==0.1.6"
sentry-sdk = "*"
django-admin-interface = "*"
django-unfold = "*"
flake8 = "*"
unfold = "*"

[dev-packages]
pylint-django = "==2.5.3"
autopep8 = "==2.0.2"
pylint = "==2.17.4"
gitpython = "==3.1.31"
ipdb = "*"

[requires]
python_version = "3.9.13"
